<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <style>
        #inputWord {
            width: 80%;
            height: 30px;
            font-size: 16px;
        }
        .correct {
            color: green;
        }
        .incorrect {
            color: red;
        }
    </style>
</head>
<body>
    <div id="wordList">
        <!-- Display the list of words here -->
        <% words.forEach(word => { %>
            <span><%= word %> </span>
        <% }) %>        
    </div>
    
    <input type="text" id="inputWord" placeholder="Type here...">
    
    <script src="/javascripts/game.js"></script>
</body>
</html>
