<!-- views/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Typing Game</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1>Create a new game</h1>
<form id="createGameForm">
    <label for="createdBy">Your Name:</label>
    <input type="text" id="createdBy" name="createdBy" required>
    <button type="submit">Create Game</button>
</form>

<!-- Prikaz informacij o igri -->
<div id="gameInfo"></div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-Mp4rTOpCId+h/gMa1AKYdjXxIi3BXFqCAxClsd9IGWWfJeJVhR6QpU8LTKZD1A9b" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="javascripts/app.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', async () => {
        const createGameForm = document.getElementById('createGameForm');
        const gameInfoContainer = document.getElementById('gameInfo');

        createGameForm.addEventListener('submit', async (event) => {
            event.preventDefault();

            const createdBy = document.getElementById('createdBy').value;

            try {
                const response = await fetch('/game/create', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ createdBy }),
                });

                const data = await response.json();

                console.log('Game created with code:', data.gameCode);
                // Preusmeritev v sobo za igro
                window.location.href = `/lobby?createdBy=${createdBy}&gameCode=${data.gameCode}`;
            } catch (error) {
                console.error('Error creating game:', error);
                // Dodajte rokovanje napak v primeru neuspešnega ustvarjanja igre
            }
        });
    });
</script>
</body>
</html>
