<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Result</title>
</head>
<body>
    <h1>Game Result</h1>
    <div id="lobbyContainer"></div>
    <br>
    <button id="indexPageButton">Back</button>
    <script src="/javascripts/result.js"></script>
</body>
</html>
