<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Game Result</title>
    <style>
        html, body {
  height: 100%;
  margin: 0;
}
    </style>
</head>
<body>
    <div id="overlay"></div>
    <div class="container">
    <h1>Game Result</h1>
    <div id="lobbyContainer"></div>
    <br>
    <button id="indexPageButton">Back</button>
</div>
    <script src="/javascripts/result.js"></script>
</body>
</html>
