body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.current-player {
  font-weight: bold;
}

/* public/stylesheets/style.css */
/* public/stylesheets/style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: white;
}

button:disabled {
 background-color: gray;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
p{
  font-size: 20px;
}

/* Center the forms vertically and horizontally */
#selectionScreen, #createGameForm, #joinGameForm {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1, h2 {
  color: #007bff;
}
ul {
  margin-left: 0; /* Remove default margin */
  padding-left: 0; /* Remove default padding */
  list-style-position: inside;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

form {
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
}

input[type="text"] {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: all 0.3s ease; /* Add transition for input fields */
}

/* Fade in/out animation for forms */
.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Add this CSS to your style.css file */
.progress-container {
  margin-bottom: 10px;
}

.progress-bar-container {
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 24px;
  background-color: #007bff;
  transition: width 0.3s ease-in-out;
  text-align: center;
  line-height: 24px;
  color: white;
  font-weight: bold;
}

.player-name {
  margin-bottom: 5px; /* Add space below player name */
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 12px; /* Decrease font size for smaller screens */
    padding: 10px; /* Adjust padding */
  }

  .container {
    padding: 10px; /* Adjust padding */
  }

  p {
    font-size: 14px; /* Decrease font size for smaller screens */
  }

  h1, h2 {
    font-size: 18px; /* Decrease font size for smaller screens */
  }

  input[type="text"] {
    padding: 6px; /* Decrease padding for smaller screens */
  }
}
.word-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.word {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #333;
  transition: background-color 0.3s ease;
}
#inputWord {
  width: 80%;
  height: 30px;
  font-size: 16px;
  margin-top: 20px;
}

@keyframes blow-up {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  100% {
      transform: scale(1.5);
      opacity: 0;
  }
}

.blow-up {
  animation: blow-up 0.5s forwards;
}

.error-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #ff9999;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: slide-in 0.5s ease-out forwards, fade-out 4s ease-in forwards;
}

@keyframes slide-in {
  from {
      transform: translate(-50%, -100%);
  }
  to {
      transform: translate(-50%, -50%);
  }
}

@keyframes fade-out {
  0% {
      opacity: 1;
  }
  90% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}





